.registration {
    width: 100%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.title {
    color: white;
    text-align: center;
    margin-top: 0;

}

.container {
    width: 80%;
    max-width: 750px;
    background-color: #33415C;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    text-align: left;
    margin-top: 20px;
    box-sizing: border-box;
    /* animation: fadeIn 1s ease-in-out forwards; */
}

.input-group,
.name-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between; /* Add this to align items evenly */
}

.input-group label {
    width: 120px;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"],
.container input[type="date"],
.container input[type="tel"] {
    flex: 1;
    padding: 12px;
    margin-left: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    background-color: #3F9ADD; /* Change this to the desired color */
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

.logout-link {
    margin-top: 20px;
    text-align: center;
}

.logout-link a {
    color: #fff;
    text-decoration: none;
}

/* @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */
