.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-image: linear-gradient(to right, #01040D, #152840);
    z-index: 1;
}

.loadPic {
    width: 500px;
    height: 333px;
}

.animate__fadeIn {
    --animate-duration: 2s;
}

.animate__fadeOut {
    --animate-duration: 1s;
}

.main-content .animate__animated .animate__fadeIn {
    --animate-duration: 1s;
}
.hello{
    height:100%;
}

.main-content {
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; */
    background-image: linear-gradient(to right, #01040D, #152840);
    /* z-index: 1; */

}

h1 {
    color: #F2F2F2;
}

p {
    color: #8BD1D9
}